@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    background-color: #dfe6e9;
}
h1,h2,h3,h4,h5{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #2d3436;
}
body{
    padding: 10px 200px;
}
.header__container{
    display: flex;
    justify-content: space-around;
}
description__container{
    padding-top: 50px;
}
.header__image img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
}
.nav__button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}
.nav__button:hover{
    background-color: darkgrey;
    color: rgba(22, 48, 161, 0.708);
}
.header__description{
    padding-top: 5%;
}
.section__title{
    border-bottom: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__description{
    max-height: 0;
    overflow: hidden;
    transition: max-heigh 1.4s ease; 
}
.section.active .section__description{
    max-height: max-content;
}
.section.active svg{
    transform: rotate(180deg);
}
