@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    background-color: #dfe6e9;
}
h1,h2,h3,h4,h5{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #2d3436;
}
body{
    padding: 10px 200px;
}
.header__container{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
}
div.header__description{
    padding-left: 100px;
}
.header__image img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
}
.nav__button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}
.nav__button:hover{
    background-color: darkgrey;
    color: rgba(22, 48, 161, 0.708);
}
.description__container{
    margin-top: 10px;
    padding-top: 20px;
    width: 100%;
}
.section__title{
    border-bottom: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__description{
    max-height: 0;
    overflow: hidden;
    transition: max-heigh 4.4s ease-in-out; 
}
.section.active .section__description{
    max-height: max-content;
    animation: fade 1s ease-in-out;
}
.section.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen  {
    
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1357px) {
    body{
        padding: 10px 200px;
    }
    .header__container{
        display: block;
        text-align: center;
        margin: 0;
        width: auto;
    }
    div.header__image{
        display: inline;
        margin: 0 auto;
    }
    div.header__description{
        margin: 10px auto;
        padding: 0;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 942px) {
    body{
        padding: 10px 20px;
    }
  }
  
  @media screen and (max-width: 585px) {
    .button__grid{
        display: inline;
        margin: 0 auto;
    }
    .button{
        display: grid;
        grid-template-columns: repeat(2);
        row-gap: 0.5rem;
    }
  }

  @media screen and (max-width: 413px) {
    body{
        padding: auto;
    }
    
    h1,h3{
        font-size:large;
    }
    div.header__image{
        width: 70vw;
    }
  }
  